.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #20232a;
  color: #61dafb;
  padding: 10px 20px;

  .header-logo {
    img {
      width: 150px;
    }
  }

  .header-links {
    display: flex;
    gap: 20px;

    a {
      padding: 8px 16px;
      border-radius: 5px;
      text-decoration: none;
      color: #f1f1f1;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #545455;
      }
    }

    .active {
      background-color: #545455;
    }
  }

}
