.search {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 4px;
  padding: 8px 12px;
  max-width: 400px;
  margin: 30px auto;

  input {
    border: none;
    outline: none;
    font-size: 16px;
    padding: 8px 12px;
    flex: 1;
    border-radius: 4px;
    transition: border-color 0.3s ease;
    color: #333;

    &::placeholder {
      color: #aaa;
    }

    &:focus {
      border-color: #6200ea;
    }
  }

  .error-message {
    color: #a94442;
  }

  .icon {
    margin-left: 8px;
    color: #6200ea;
    font-size: 1.25rem;
  }

  p {
    margin: 0;
  }
}
